@import "tailwindcss";

@theme {
  /* ── Couleurs institutionnelles CAP ── */
  --color-cap-900: #0f2040;
  --color-cap-800: #1b3a6b;
  --color-cap-700: #1e4080;
  --color-cap-600: #2a5298;
  --color-cap-500: #3a6bc0;
  --color-cap-100: #dce8f8;
  --color-cap-50:  #f0f5fd;

  --color-gold-500: #c9a227;
  --color-gold-400: #d4b84a;
}
